<section class="post">
    <header class="post-header">
        <!-- <a href="{{ SITEURL }}/{{ article.author.url }}" title="See posts by {{ article.author }}"> -->
            {#% if article.author_gravatar %#}
                <!-- <img class="avatar" alt="{#{ article.author }#}" src="{#{ article.author_gravatar }#}"> -->
            {#% endif %#}
        <!-- </a> -->
        <div class="archive-post"><a href="{{ article.url }}">{{ article.title }}</a></div>
        <p class="archive-meta">{{ article.author }} {{ article.date|strftime('%d/%m/%Y') }} in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
    </header>
</section>
